@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&family=Ubuntu:wght@300;500;700&display=swap');

body {
    background-color: #1f1f38;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Section */
#navbar {
    line-height: 4rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: .5px solid #ffffff52;
    border-width: 80%;
    margin-bottom: 1rem;
    background-color: #1f1f38;
}

#navbar ul {
    list-style: none;
    display: flex;
}

#navbar ul li {
    margin: 0px 1rem;
}

#navbar ul li a {
    text-decoration: none;
    padding: 0.5rem 0.9rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.right {
    display: none;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.nav-col a:hover {
    border-radius: .4rem;
    color: #1f1f38;
    background-color: #fff;
}

/* Title Section */
#title {
    background-color: #1f1f38;
    text-align: center;
    padding: 2rem;
}

#title h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

/* Saved Courses Section */
#saved-courses {
    background-color: #1f1f38;
    padding: 2rem;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.courses-item {
    overflow: hidden;
    width: 20rem;
    margin: 1rem;
    background: #2c2c6c;
    border-radius: 1.5rem;
    padding: 2rem 1rem;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.courses-item h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.courses-item p {
    line-height: 20px;
    font-size: .9rem;
}

/* Style the rating section */
.rating {
    margin-top: 10px;
    font-size: 18px;
}

.rating-text {
    color: white;
    font-weight: bold;
}

.rating-value {
    color: #FFD700;
    margin-left: 5px;
}

/* Footer Section */
#footer {
    background-color: #4db5ff;
    padding: 2rem;
    padding-bottom: 4rem;
}

ul li {
    list-style: none;
    margin: 0 1rem;
}

ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #1f1f38;
    transition: all .5s;
    font-family: 'Poppins', sans-serif;
}

ul li a:hover {
    color: #fff;
}

.font-awesome {
    margin: 1.1rem auto;
}

.font-awesome li i {
    background-color: #1f1f38;
    padding: 0.6rem;
    border: 1px solid #1f1f38;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.font-awesome li i:hover {
    border: 1px solid #1f1f38;
    border-radius: .5rem;
    background: transparent;
    color: #1f1f38;
}

#footer p {
    color: #1f1f38;
    font-size: .9rem;
}

/* Scroll Top */
#scroll-top {
    background-color: #4db5ff;
    color: #151527;
    padding: 9px;
    border-radius: 9px;
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 1rem;
    right: 4%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2000;
}

/* Utility Classes */
.poppins {
    font-family: 'Poppins', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

.s-between {
    justify-content: space-between;
}

.s-around {
    justify-content: space-around;
}

.s-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.f-col {
    flex-direction: column;
}

.t-white {
    color: #fff;
}

.bg-color {
    background-color: #1f1f38;
}

.t-center {
    text-align: center;
}

.my-2 {
    margin: 2rem 0;
}

.f-2 {
    font-size: 2rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.w-50 {
    width: 50%;
}

.w-80 {
    width: 80%;
}

.h-50 {
    height: 50vh;
}

.mx-1 {
    margin: 0 1rem;
}

.m-top {
    margin-top: 1rem;
}

.m-auto {
    margin: auto;
}

.btn {
    margin-left: 0 .5rem;
    font-size: 1rem;
    color: #4db5ff;
    cursor: pointer;
    padding: 0.75rem 1.2rem;
    border: 1px solid #4db5ff;
    border-radius: 0.4rem;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

.buttons a,
#hireme {
    text-decoration: none;
}

.btn:hover {
    color: #1f1f38;
    border-color: #fff;
    background-color: #fff;
}

.live {
    color: #1f1f38;
    background-color: #4db5ff;
}

.search-btn {
    background-color: #007bff; /* Adjust the button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px; /* Adjust the margin as needed */
}

/* Style the search icon inside the button */
.search-btn i {
    font-size: 20px;
}